// Spacing variables
$padding-xl: 64px;
$padding-lg-1: 48px;
$padding-lg: 32px;
$padding-md-1: 24px;
$padding-md: 16px;
$padding-sm-1: 12px;
$padding-sm: 8px;
$padding-xs: 4px;

// You can also define margin variables if needed
$margin-xl: 64px;
$margin-lg-1: 48px;
$margin-lg: 32px;
$margin-md-1: 24px;
$margin-md: 16px;
$margin-sm-1: 12px;
$margin-sm: 8px;
$margin-xs: 4px;
